@import "../../styles/tokens.scss";

/***** INHERITANCE *****/
%formInputs {
  height: 40px;
  width: 392px;
  background: $color-pearl-white;
  border: 1px solid $color-whale-grey-25; // whale 25%
  box-sizing: border-box;
  border-radius: $spacing-xs;
  margin-bottom: $spacing-s;
  padding: $spacing-s;
  font-style: normal;
  font-weight: bold;
  color: $color-shark-grey-75; /* Shark Grey (75%) */
}
// utility function - hides the modal based on an event
.hideModal {
  display: none !important;
}
// lightbox container - responsible for darkening the background of the modal
.lightboxOverlay {
  position: fixed; // makes sure the user cannot scroll when the modal is open (except for inside the modal)
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: objektiv-mk2;
  overflow-y: scroll;
}
// modal container - container that houses modal
.modalContainer {
  position: absolute;
  top: 100px;
  width: 600px;
  height: 576px;
  background-color: $color-pearl-white;
  z-index: 1500;
  gap: 0; // remove default gap of Grid
  font-family: objektiv-mk2;
  place-items: center;
  border-radius: 8px;
  // error message gives the div a diff className
  &ErrorMessage {
    top: 100px;
    position: absolute;
    width: 600px;
    height: 732px;
    background-color: $color-pearl-white;
    border-radius: $spacing-xs;
    z-index: 1500;
    gap: 0; // remove default gap of Grid
    font-family: objektiv-mk2;
    .emailInput {
      border: 1px solid $coral-red-danger; // makes the email input border red
    }
  }
}

// header of the modal
.modalHeader {
  color: $color-ocean-blue;
  font-size: 27.04px;
  line-height: 125%;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: $spacing-l 104px 0 104px;
}
// GridItem that houses cancel button/icon
.modalIconContainer {
  float: right;
  margin: $spacing-xs $spacing-s 0 0;
  .modalIcon {
    &:hover {
      cursor: pointer;
    }
  }
}
// the modal paragraph content for the user to read
.modalParagraph {
  color: $color-ocean-blue;
  width: 392px;
  height: 97px;
  font-size: 16px;
  line-height: 150%;
  font-family: objektiv-mk2;
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  margin: $spacing-m 104px $spacing-l 104px;
}
// div container for other input elements, department and email
.modalInputContainer {
  margin: 0 104px;
  input {
    @extend %formInputs;
  }
  ::placeholder {
    // placeholder styles
    color: $color-whale-grey-25;
  }
}
// form text area element - where user types message
.formTextArea {
  display: block;
  height: 127px;
  margin-bottom: $spacing-m;
  overflow-y: scroll;
  @extend %formInputs;
}

// div container for modal buttons
.modalBtnContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto $spacing-l auto;
  button {
    height: 48px;
    text-transform: capitalize;
  }
}
// Error Message for invalid email
.modalErrorMessage {
  color: $color-coral-red;
  font-family: objektiv-mk2;
  background-color: $color-pearl-white;
  margin: $spacing-l auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
  .modalErrorIcon {
    margin: 0;
    position: relative;
    top: 19px;
    left: 25px;
  }
  span {
    margin: 0;
    padding: 0;
  }
}
// Success Modal Message
.modalSuccessMessageContainer {
  width: 600px;
  height: 207px;
  position: absolute;
  top: 100px;
  font-family: objektiv-mk2;
  border-radius: $spacing-xs;
  background-color: $color-pearl-white;
  padding: $spacing-xxl 104px;
  .modalSuccessMessageIconContainer {
    float: right;
    margin: -30px -90px 0 0;
    .modalSuccessMessageIcon {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .modalSuccessMessageHeader {
    /* Seaweed Green */
    color: #429e46;
    font-style: normal;
    font-weight: bold;
    font-size: 27.04px;
    line-height: 125%;
    letter-spacing: -0.02em;
    padding-bottom: $spacing-m;
  }
  .modalSuccessMessageParagraph {
    color: $color-ocean-blue;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-m;
    line-height: 150%;
  }
}
/***** MEDIA QUERIES - MD BREAKPOINT (TABLETS) *****/
@media (max-width: $sm-breakpoint-end) and (max-width: $md-breakpoint-end) {
  %formInputs {
    width: 348px;
  }
  .modalIconContainer {
    top: -10px;
    margin: -$spacing-s $spacing-s 0 0;
  }
  .modalContainer {
    width: 532px;
    height: 606px;
    border-radius: $spacing-xs;
    &ErrorMessage {
      width: 532px;
      height: 732px;
    }
  }
  .modalHeader {
    font-size: 25.87px;
    margin: $spacing-l 92px 0 92px;
  }
  .modalParagraph {
    width: 348px;
    height: 96px;
    margin: $spacing-m 92px $spacing-l 92px;
  }
  .modalInputContainer {
    margin: 0 92px;
  }
  .formTextArea {
    height: 127px;
  }
}
/***** MEDIA QUERIES - SM BREAKPOINT (SMARTPHONES) *****/
@media screen and (max-width: $sm-breakpoint-end) {
  %formInputs {
    width: 280px;
  }
  .modalContainer {
    width: 312px;
    height: 559px;
    border-radius: $spacing-xs;
    &ErrorMessage {
      width: 312px;
      height: 650px;
    }
  }
  .modalHeader {
    font-size: 23.54px;
    height: 40px;
    width: 280px;
    text-align: center;
  }
  .modalParagraph {
    font-size: 14px;
    line-height: 20px;
    width: 280px;
    height: 127px;
    margin: $spacing-m $spacing-s 0 $spacing-s;
  }
  .modalInputContainer {
    margin: 0 $spacing-s;
  }
  .formTextArea {
    height: 127px;
  }
  .modalIconContainer {
    float: right;
    margin: 10px 160px 0 0;
  }
  .modalBtnContainer {
    width: 280px;
    margin: 0 1.2rem;
    button {
      height: 48px;
      text-transform: capitalize;
    }
  }
  .modalErrorMessage {
    display: flex;
    justify-content: flex-start;
    margin: $spacing-s auto;
  }
  .modalSuccessMessageContainer {
    width: 280px;
    padding: $spacing-m;
    text-align: center;
    height: 160px;
    border-radius: $spacing-xs;
    background-color: $color-pearl-white;
    .modalSuccessMessageIconContainer {
      float: right;
      margin: -18px -18px 0 0;
      .modalSuccessMessageIcon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .modalSuccessMessageHeader {
      font-size: 18px;
      letter-spacing: -0.02em;
      width: 100%;
    }
    .modalSuccessMessageParagraph {
      color: $color-ocean-blue;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      width: 100%;
    }
  }
}
