// import objektiv-mk2 font and zero height tokens
@import "../../styles/tokens.scss";

/***** BASE BUTTON ****/
.btn {
  height: 48px;
  min-width: 122px;
  padding: 0 1rem;
  margin: 0.2rem;
  border: none;
  border-radius: 4px;
  font-family: $font;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: $blacked-out;
  // use flexbox to vertically center btn content and evenly space content horizontally
  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  &:hover {
    cursor: pointer;
  }
  & .btncontent {
    white-space: nowrap; // IMPORTANT - keeps the button content only on one line
  }
}

/***** DANGER BUTTON *****/
.danger,
.ddanger {
  background-color: darkred;
  color: $pure-white;
  border: none;
}

/***** SMALL BUTTON *****/
.small {
  max-height: 48px;
}

/***** BIG BUTTON *****/
.big {
  height: 100vh;
  max-height: 56px;
}

/**************************************************************** 
LIGHT MODE
 ****************************************************************/

/***** INHERITANCE (LIGHT MODE) *****/
/* 
Color Scheme - background color, text color, and/or border color for the different variants
Transition Colors - the color scheme state triggered from an event (hover or click)
*/
%primaryColorScheme {
  background-color: $soft-blue;
  color: $pure-white;
}
%primaryTransitionColors {
  background-color: #406195;
  color: $pure-white;
  border: none;
}
%secondaryColorScheme {
  background-color: $pure-white;
  color: $soft-blue;
  border: 2px solid $soft-blue;
}
%secondaryTransitionColors {
  background-color: darkblue;
  color: $soft-blue;
  border: 2px solid $soft-blue;
}
%textColorScheme {
  background-color: $pure-white;
  color: $soft-blue;
}
%textTransitionColorScheme {
  background-color: darkblue;
  color: $pure-white;
}

/***** PRIMARY BUTTON *****/
.primary {
  @extend %primaryColorScheme;
  // on hover and clicked states have the same color scheme
  &clicked,
  &:hover {
    @extend %primaryTransitionColors;
  }
}

/***** SECONDARY BUTTON *****/
.secondary {
  @extend %secondaryColorScheme;
  &clicked,
  &:hover {
    @extend %secondaryTransitionColors;
  }
}

/***** TEXT BUTTONS *****/
.text {
  @extend %textColorScheme;
  border: none;
  // clicked and on hover have the same color scheme states
  &clicked:hover,
  &:hover {
    @extend %textTransitionColorScheme;
    border: none;
  }
}

/**************************************************************** 
DARK MODE
 ****************************************************************/
/* 
Color Scheme - background color, text color, and/or border color for the different variants
Transition Colors 
  - the color scheme state triggered from an event. For some dark varaints the transition color scheme state is the same for on hover and clicked states, and for other dark variants the transition states have different color schemes.
*/
/***** INHERITANCE (DARK MODE) *****/
%darkPrimaryColorScheme {
  background-color: $pure-white;
  color: $soft-blue;
  border: 2px solid $pure-white;
  border-radius: 4px;
}
%darkPrimaryTransition {
  background-color: darkblue;
  color: $soft-blue;
  border: 2px solid $soft-blue;
  border-radius: 4px;
}
%darkSecondaryColorScheme {
  background-color: darkblue;
  color: $pure-white;
  border: 2px solid $pure-white;
}
%darkSecondaryTransition {
  background-color: #465273;
  color: $pure-white;
  border: 2px solid $pure-white;
  border-radius: 4px;
}
%darkTextColorScheme {
  background-color: dark-blue;
  color: $pure-white;
  border: none;
}
%darkTextTransitionHover,
%darkTextTransitionClicked {
  background-color: #465273;
  color: $pure-white;
  border: none;
}

/***** PRIMARY BUTTON - (DARK MODE) *****/
.dprimary {
  @extend %darkPrimaryColorScheme;
  // clicked and on hover have the same color scheme states
  &clicked,
  &:hover {
    @extend %darkPrimaryTransition;
  }
}
/***** SECONDARY BUTTON - (DARK MODE) *****/
.dsecondary {
  @extend %darkSecondaryColorScheme;
  // clicked and on hover have the same color scheme states
  &clicked,
  &:hover {
    @extend %darkSecondaryTransition;
  }
}

/***** TEXT BUTTONS - (DARK MODE) *****/
/***** TEXT BUTTONS SPACING (DARK MODE) *****/
.dtext {
  & {
    /***** TEXT COLOR SCHEME - DEFAULT STATE (DARK MODE) *****/
    @extend %darkTextColorScheme;
    /***** ICON SPACING AND ANIMATIONS - (DARK MODE) *****/
  }
  /***** TEXT BUTTONS WITHOUT ICONS - ON HOVER STATE:the color scheme changes (DARK MODE) *****/
  &:hover {
    @extend %darkTextTransitionHover;
  }
  /***** TEXT BUTTONS - CLICKED STATE (DARK MODE) *****/
  &clicked {
    @extend %darkTextTransitionClicked;
  }
}

/***** MEDIA QUERIES - RESPONSIVE *****/
@media screen and (max-width: 550px) {
  .btn,
  .small,
  .big {
    max-height: 40px !important;
    font-size: 14px;
    line-height: 16px;
  }
}
