@import "./typograpy/tokens.scss";

%text {
  font-family: $font;
  color: $off-white;
  text-align: center;
}

.main {
  @extend %text;
  height: 100vh;
}

.header {
  padding: 2rem 0;
}

.options {
  @extend %text;
  font-size: x-large;
  background-color: #c06502;
  width: 50%;
  margin: 4rem auto;
  padding: 2rem 0;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 goldenrod;
}
