%roundEdges {
  border-radius: 5px;
}

.thumbnailContainer {
  @extend %roundEdges;
  background-color: white;
}

.thumbnail {
  transition: 0.2s;
  @extend %roundEdges;
}

.thumbnail:hover {
  transform: scale(1.3);
  cursor: pointer;
}
