@import "../../styles/tokens.scss";

.scorepost {
  display: flex;
  width: 900px;
  margin: 0 auto;
  border: #0c5460 1px solid;
  border-radius: 8px;
  font-size: $large;
  span {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.scorepost:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: $golden;
  position: relative;
  z-index: 1000;
  .scorepost {
    border: none;
  }
}
