@import "../../styles/tokens.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: $color-tang-yellow;
  h4 {
    font-size: $font-size-xl;
  }
}
