@import "../styles/tokens.scss";

.gameHeader {
	position: fixed;
	top: 10%;
}
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	height: 100%;
	background-image: url("../styles/images/springfield-night.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: $color-tang-yellow;
	text-align: center;
	.scoreSection {
		position: fixed;
		top: 50%;
		right: 10%;
	}
	.gameGrid {
		justify-content: space-evenly;
		align-items: center;
		margin: 2rem auto;
		max-width: 900px;
		.gameGridItem {
			display: inline-flex;
			width: 127px;
			margin: 1rem;
		}
		.gameGridItem img {
			width: 100%;
			max-width: 127px;
			height: 193px;
		}
	}
}

@media (min-width: $lg-breakpoint-end) and (max-width: $xlg-breakpoint-end) {
	.gameHeader {
		position: fixed !important;
		top: 1% !important;
	}
	.scoreSection {
		position: fixed !important;
		right: 5% !important;
	}
}
@media (min-width: $md-breakpoint-end) and (max-width: $lg-breakpoint-end) {
	.gameHeader {
		position: fixed !important;
		top: 1% !important;
	}
	.scoreSection {
		position: relative !important;
		margin-top: 10%;
		right: 1.25rem !important;
	}
}

@media (min-width: $sm-breakpoint-end) and (max-width: $md-breakpoint-end) {
	.gameHeader {
		position: relative !important;
	}
	.scoreSection {
		position: relative !important;
		top: 0.75rem !important;
		right: 1.25rem !important;
	}
	.gameGrid {
		max-width: 600px !important;
	}
}
@media screen and (max-width: $sm-breakpoint-end) {
	.gameHeader {
		position: relative !important;
	}
	.scoreSection {
		position: relative !important;
	}
	.gameGrid {
		max-width: 400px !important;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 20rem;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

.fade {
	animation-name: fadeIn;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 1000ms ease-in;
}
