@import "./tokens.scss";
.leaderboardContainer {
  background-image: url("../styles/images/springfield-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: $font-family;
  .filter {
    text-align: center;
    color: $color-tang-yellow;
  }
  .leaderboardMenuAndTitle {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    position: relative;
    .dropdownMenu {
      float: right;
    }
    .leaderboardTitle {
      padding-top: 3rem;
      color: $color-tang-yellow;
    }
  }
}
@keyframes leftToRightAnimation {
  from {
    opacity: 0;
    right: 20rem;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes rightToLeftAnimation {
  from {
    opacity: 0;
    left: 20rem;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.scorePostContainer {
  :nth-child(n) {
    .fade {
      animation-name: leftToRightAnimation;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  :nth-child(2n) {
    .fade {
      animation-name: rightToLeftAnimation;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}
