@import "./typograpy/tokens.scss";

%text {
  font-family: $font;
  color: $pure-white;
  text-align: center;
}

.main {
  @extend %text;
  height: 100vh;
  background-image: url("../styles/images/springfield-night.jpg");
}

.header {
  padding: 2rem 0;
}

.options {
  @extend %text;
  font-size: x-large;
  background-color: $shadow-orange;
  width: 50%;
  margin: 4rem auto;
  padding: 2rem 0;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 $golden;
}

.link {
  color: $blacked-out;
  text-decoration: none;
}

// %btn:hover,
// %btn:active {
//   background-color: $soft-blue;
// }

// .menuBtn {
//   @extend %btn;
// }
