// Acme Google font
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$font: "Acme", sans-serif;
$large: 1.4rem;
$pure-white: white;
$soft-blue: #6495ed;
$blacked-out: #111111;
$shadow-orange: #c06502;
$limerock-orange: #ff851b;
$golden: rgb(236, 186, 59);

// breakpoints
$lg-breakpoint-end: 1280px;
$md-breakpoint-end: 839px;
$sm-breakpoint-end: 599px;
