// Acme Google font
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/********************* FONT *********************/
$font-family: "Acme", sans-serif;
$font-size-m: 1rem;
$font-size-l: 1.4rem;
$font-size-xl: 2rem;
$font-size-xll: 2.5rem;
/********************* COLOR *********************/
$color-pure-white: #ffffff;
$color-soft-blue: #6495ed;
$color-blacked-out: #111111;
$color-shadow-orange: #c06502;
$color-limerock-orange: #ff851b;
$color-golden-orange: rgb(236, 186, 59);
$color-aqua: #00abbd;
$coral-red-danger: #b30000;
$color-deep-blue: #002d72;
$color-fiji-blue: #80caf0;
$color-fin-grey: #e5e5e5;
$color-nemo-orange: #f68838;
$color-nude-beach: #f6e1cf;
$color-ocean-blue: #081844;
$color-pearl-white: #ffffff;
$color-sea-foam-white: rgba(255, 255, 255, 0.7);
$color-sea-glass-aqua: #00c7c8;
$color-seahorse-yellow: #fff199;
$color-seal-grey: #8b8b8f;
$color-shark-grey: #1f1f1f;
$color-starfish-orange: #f8a055;
$color-stingray-grey: #aaabae;
$color-swordfish-grey: #c37e7e;
$color-tang-yellow: #ffdc00;
$color-tide-pool-blue: #e5eaf1;
$color-undertow-blue: #b1e5ff;
$color-whale-grey: #505961;
$color-subscribe-hover: rgba(39, 255, 40, 0.4);
$color-subscribe-click: rgba(4, 135, 255, 0.4);
$color-caribbean-aqua: #00abbd;
$color-caribbean-aqua-25: #bfeaee;
$color-caribbean-aqua-50: #80d5de;
$color-caribbean-aqua-75: #40c0cd;
$color-clownfish-orange: #ff8f1f;
$color-coral-red: #de2b1b;
$color-fiji-blue: #80caf0;
$color-fiji-blue-25: #dff2fb;
$color-fiji-blue-50: #bfe4f7;
$color-fiji-blue-75: #a0d7f4;
$color-grey-matter: #e5eaf1;
$color-nemo-orange: #f68838;
$color-nemo-orange-25: #fde1cd;
$color-nemo-orange-50: #fac39b;
$color-nemo-orange-75: #f8a66a;
$color-ocean-blue: #081844;
$color-ocean-blue-25: #c1c5d0;
$color-ocean-blue-50: #838ba1;
$color-ocean-blue-75: #465273;
$color-pearl-white: #ffffff;
$color-seal-grey: #8b8b8f;
$color-seal-grey-80: rgba(31, 31, 31, 0.8);
$color-seaweed-green: #429e46;
$color-shark-grey: #1f1f1f;
$color-shark-grey-25: #c7c7c7;
$color-shark-grey-50: #8f8f8f;
$color-shark-grey-75: #575757;
$color-stingray-grey: #c7c7c7;
$color-tang-yellow: #fedc00;
$color-tang-yellow-25: #fff6bf;
$color-tang-yellow-50: #feed80;
$color-tang-yellow-75: #fee540;
$color-whale-grey: #505961;
$color-whale-grey-25: #d3d5d7;
$color-whale-grey-50: #a7acb0;
$color-whale-grey-75: #7c8288;
/********************* BREAKPOINTS *********************/
$xlg-breakpoint-end: 1600px;
$lg-breakpoint-end: 1280px;
$md-breakpoint-end: 839px;
$sm-breakpoint-end: 599px;
/********************* SPACING *********************/
$spacing-xxs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 3rem;
