@import "../styles/tokens.scss";

%text {
  font-family: $font-family;
  color: $color-ocean-blue;
  text-align: center;
}

.triviaContainer {
  @extend %text;
  min-height: 100vh;
  background-image: url("../styles/images/springfield-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation {
  animation: slideIn;
  animation-duration: 1.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(-1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
